<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jurassic Park Monitor</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Jurassic Park System</div>
        <div class="menu">
            <a href="/" style="color:white; margin-right: 15px;">Dashboard</a>
            <a href="/metrics-view" style="color:white;">Métricas & Logs</a>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="/static/js/dashboard.js"></script>
</body>
</html>